
<section class="src-components-cartelera">
  <div class="jumbotron">
   <!-- <h1>src-components-cartelera Component</h1>-->
    <iframe width="100%" height="600" src="https://www.youtube.com/embed/uG2SHqzHY8w?playlist=BJjh-rEFNME,uG2SHqzHY8w,FYszthdJU8c&loop=1&autoplay=1&mute=1" allowfullscreen> </iframe>
  
  <div class="container">
      <h1 id="text-Estreno">ESTRENOS</h1>
      <div class="row" id="cont-BannerEstrenos">
          <div class="col-3 p-0"><img class="bannersEstrenos" src="../../../../img/marilina.jpg" /></div>
          <div class="col-3 espaciado-bannersEstreno p-0"><img class="bannersEstrenos" src="../../../../img/hamlet.jpg" /></div>
          <div class="col-3 p-0"><img class="bannersEstrenos" src="../../../../img/BLACKPINK.jpg" /></div>
      </div>
  </div>
  
  
  <div class="container">
      <a asp-controller="Espectadors" asp-action="Create"><img class="bannerAdquiri" src="../../../../img/banner_inferior.jpg" /></a>
  </div>
  </div>
</section>

